body{
  background: #fff;
}

section {
    display: block;
}

.banner{
  z-index:1;
  width:100%;
  height:80%;
}

.title{
  margin-left: 40px;
  color:gray;
  font-size: 70px;
  font-weight: bold;
}

.fondo-azul{
  background-color: #4816ff;
  padding: 100px;
}

.letras-blancas{
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.letras-blancas-1{
  color: #fff;
  font-size: 20px;
}

.letras-blancas-2{
  color: #fff;
  font-size: 15px;
}

.kindle{
  position: relative;
  left: 50px;
}

.footer{
  text-align: center;
  padding: 100px;
}

.title-footer{
  color:gray;
  font-size: 50px;
  font-weight: bold;
}

.redes-sociales{
  padding: 2px;
}
